@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    transition: .1s;
}

body {
    margin: 0 auto;
    background-color: #111111;
    div {
        margin: 0 auto;
        max-width: 1440px;
        padding: 8px 32px;
        h1 {
            font-size: 32px;
            font-weight: 500;
            color: #04da00;
        }
        p {
            color: #faab00;
            font-size: 16px;
            font-weight: 400;
        }
        form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 24px 0;
            input {
                font-size: 16px;
                padding: 8px 16px;
                color: #ffffff;
                border: 1px solid #04da00;
                background-color: transparent;
                width: 100%;
                &:focus {
                    outline: 0;
                }
            }
            button {
                font-size: 16px;
                padding: 8px 16px;
                color: #111111;
                border: 1px solid #292929;
                background-color: #04da00;
                cursor: pointer;
                flex: none;
                &:focus {
                    outline: 0;
                }
                &:hover {
                    scale: .96;
                }
            }
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                margin: 8px 0;
                padding: 8px 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #292929;
                &:hover {
                    background-color: #292929;
                }
                a, Link {
                    font-size: 16px;
                    cursor: pointer;
                    color: #2a94ff;
                    font-weight: 400;
                    &:hover {
                        color: #04da00;
                    }
                }
                div {
                    padding: unset;
                    margin: unset;
                }
                button {
                    font-size: 16px;
                    padding: 8px 16px;
                    
                    border: 1px solid #ffffff;
                    cursor: pointer;
                    flex: none;
                    &:focus {
                        outline: 0;
                    }
                    &.red {
                        color: #ffffff;
                        background-color: #F03A17;
                    }
                    &.yellow {
                        color: #111111;
                        background-color: #faab00;
                    }
                    &:hover {
                        scale: .96;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        div {
            padding: 8px 8px;
        }
    }
}